<%- include("../partials/_header.ejs")%>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <div class="left">
                    <%- include('../partials/_navsideAdmin.ejs')%>
                </div>
            </div>
            <div class="col-md-10">
                <div class="top">
                    <%- include('../partials/_userTop.ejs')%>
                </div>
                <div class="main">
                    <main>
                        <div class="base" style="padding:4rem 2rem;">
                            <div class="row ">
                                <div class="col-md-8">
                                    <p class="fw-bold fs-1 text-center"><%= webTitle %></p>
                                    <%
                                        if(typeof status !== ""){
                                            (status.status == "success") ? color = "green" : color = "red";
                                    %>
                                        <p class="text-center my-0 text-<%= color %>"><%= status.text %></p>
                                    <% } %>
                                </div>
                                <div class="col-md-4">
                                    <p class="fw-bold fs-1 " style="color:#58baab;">ADMIN</p>
                                </div>
                                <div class="col-12">
                                    <form action="<%= (mode == "edit") ? `/edit/profile/?username=${target.username}`: "/add/profile/?role=admin"%>" method="POST" enctype="multipart/form-data">
                                        <div class="row d-flex justify-content-around">
                                            <!-- PICTURE -->
                                            <div class="col-md-2 ">
                                                <center>
                                                    <img src="/assets/img/profile/<%= (mode == "edit") ? target.picture:"teacher_default.png"; %>" class="rounded-circle"  alt="" style="width: 150px;height: 150px;background-color: #58baab;">
                                                    <input type="file" name="picture" id="picture" class="form-control form-control-sm">
                                                </center>
                                            </div>
                                            <!-- StudentID -->
                                            <div class="col-md-4">
                                                <div class="mb-3 pt-md-5">
                                                    <label for="name" class="form-label fs-5 fw-bold">ID CARD</label>
                                                    <input
                                                    type="name"
                                                    class="form-control"
                                                    id="username" name="username"
                                                    maxlength="20" minlength="1"
                                                    value="<%= (mode == "edit") ? target.username : "" %>"
                                                    required
                                                    style="background-color: #e6f3f3;"
                                                    disabled
                                                    >
                                                </div>
                                            </div>
                                            <!-- Password -->
                                            <div class="col-md-4">
                                                <div class="mb-3 pt-md-5">
                                                    <label for="password" class="form-label fs-5 fw-bold">PASSWORD</label>
                                                    <input type="text" class="form-control" id="password" name="password" style="background-color: #e6f3f3;" maxlength="30" minlength="6">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row d-flex justify-content-center">
                                            <p class="mt-2 fw-bold">ข้อมูลส่วนบุคคล</p>
                                            <!-- Name -->
                                            <div class="col-md-4">
                                                <div class="mb-3">
                                                    <label for="name" class="form-label fs-6 ">ชื่อ :</label>
                                                    <input
                                                    type="text"
                                                    class="form-control"
                                                    id="name" name="name"
                                                    value="<%= (mode == "edit") ? target.name : "" %>"
                                                    required
                                                    style="background-color: #f6f6ff;"
                                                    >
                                                </div>
                                            </div>
                                            <!-- DOB -->
                                            <div class="col-md-4">
                                                <div class="mb-3">
                                                    <label for="dob" class="form-label fs-6 ">วัน-เดือน-ปีเกิด :</label>
                                                    <input
                                                    type="date"
                                                    class="form-control"
                                                    id="dob" name="dob"
                                                    <% 
                                                        let dob = "";
                                                        if(mode == "edit"){
                                                            const dobDay = new Date(`${target.dob}`);
                                                            dob = `${dobDay.getFullYear()}-${(dobDay.getMonth()+1 < 10) ? "0" + (dobDay.getMonth()+1) : dobDay.getMonth()+1}-${(dobDay.getDate() < 10) ? "0" + dobDay.getDate() : dobDay.getDate()}`;
                                                        }
                                                    %>
                                                    value="<%= dob %>"
                                                    required
                                                    style="background-color: #f6f6ff;"
                                                    >
                                                </div>
                                            </div>
                                            <!-- Gender -->
                                            <div class="col-md-3">
                                                <div class="mb-3">
                                                    <label for="password" class="form-label fs-6 ">เพศ :</label>
                                                    <select class="form-select" name="gender" id="gender" style="background-color: #f6f6ff;" required>
                                                        <option selected disabled>-- เลือกเพศ --</option>
                                                        <option <%= (mode == "edit") ? ((target.gender == "male") ? "selected" : "") : ""%> value="male">ชาย</option>
                                                        <option <%= (mode == "edit") ? ((target.gender == "female") ? "selected" : "") : ""%> value="female">หญิง</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row d-flex justify-content-center">
                                            <p class="mt-2 fw-bold">ข้อมูลการติดต่อ</p>
                                            <!-- phone -->
                                            <div class="col-md-5">
                                                <div class="mb-2">
                                                    <label for="phone" class="form-label fs-6 ">เบอร์โทร :</label>
                                                    <input
                                                    type="text"
                                                    class="form-control"
                                                    id="phone" name="phone"
                                                    value="<%= (mode == "edit") ? target.phone : "" %>"
                                                    maxlength="10" minlength="10"
                                                    required
                                                    style="background-color: #f6f6ff;"
                                                    >
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="mb-3">
                                                    <label for="email" class="form-label fs-6 ">อีเมล :</label>
                                                    <input
                                                    type="email"
                                                    class="form-control"
                                                    id="email" name="email"
                                                    value="<%= (mode == "edit") ? target.email : "" %>"
                                                    maxlength="50"
                                                    required
                                                    style="background-color: #f6f6ff;"
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <center>
                                            <div class="col-md-5">
                                                <button class="btn btn-green  px-5" style="width:100%;padding:1rem 1rem"><%= (mode == "edit") ? "แก้ไขข้อมูล": "เพิ่มผู้ดูแลระบบ"%></button>
                                            </div>
                                        </center>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </main>
                </div>
            </div>
        </div>
    </div>
    <script src="js/script.js"></script>
</body>

</html>