<%- include("../partials/_header.ejs")%>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">
                    <div class="left">
                        <%- include('../partials/_navsideStudent.ejs')%>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="top">
                        <%- include('../partials/_userTop.ejs')%>
                    </div>
                    <div class="main">
                        <main>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="base bg-none">
                                            <br>
                                            <div class="name-home-main bg-none">
                                                <h1><b><%= account.name %></b></h1>
                                            </div>
                                            <div class="panak">
                                                <p>
                                                    <%= account.departmentName %>
                                                </p>
                                            </div>
                                            <br><br><br>
                                            <div class="btn-home bg-none">
                                                <a class="none-director" href="/studentScholarship/"><button class="btn btn-yellow prl-2">ข้อมูลทุนการศึกษา</button></a>
                                                <a class="none-director" href="/studentGraph/<%= account.studentID%>"><button class="btn btn-green prl-2 ">สรุป</button></a>
                                            </div>
                                        </div>
                                        <div class="base-green-home">
                                            <div class="base  " style="margin-top:50%;">
                                                <div class="row d-flex justify-content-between align-items-center">
                                                    <div class="col-auto">
                                                        <h3>อัปเดตรายจ่าย </h3>
                                                    </div>
                                                    <div class="col-auto">
                                                        <a class="none-director btn btn-yellow prl-2" href="/expense/0/?mode=add"> + Transection</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row d-flex justify-content-between">
                                            <div class="col-md-auto">
                                                <h4>ยอดคงเหลือ</h4>
                                            </div>
                                        </div>
                                        <div class="base-home-total">
                                            <div class="name-home d-flex justify-content-end align-items-center">
                                            </div>
                                            <br>
                                            <div class="name-home d-flex justify-content-between align-items-center">
                                                <h1> &nbsp; &nbsp; <b>THB <%= new Intl.NumberFormat().format(transactionsDetail.balance)%></b></h1>
                                            </div>
                                            <br>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row d-flex justify-content-between">
                                                        <div class="col-md-auto">
                                                            <h4>รายรับ</h4>
                                                        </div>
                                                    </div>
                                                    <!-- INCOME -->
                                                    <div class="base-home-recive">
                                                        <br>
                                                        <div class="name-home d-flex justify-content-between align-items-center">
                                                            <h1><b>THB <%= new Intl.NumberFormat().format(transactionsDetail.income)%></b></h1>
                                                        </div>
                                                        <br>
                                                        <div class="name-home d-flex justify-content-between align-items-center">
                                                            <p class="text-white">ทั้งหมด</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- EXPENSE -->
                                                <div class="col-md-6">
                                                    <div class="row d-flex justify-content-between">
                                                        <div class="col-md-auto">
                                                            <h4>รายจ่าย</h4>
                                                        </div>
                                                    </div>
                                                    <div class="base-home-expen">
                                                        <br>
                                                        <div class="name-home d-flex justify-content-between align-items-center">
                                                            <h1><b>THB <%= new Intl.NumberFormat().format(transactionsDetail.expense)%></b></h1>
                                                        </div>
                                                        <br>
                                                        <div class="name-home d-flex justify-content-between align-items-center">
                                                            <p class="text-white">ทั้งหมด</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row d-flex justify-content-between">
                                            <div class="col-md-auto">
                                                <h4>RECENT</h4>
                                            </div>
                                        </div>
                                        <div class="base">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>จำนวนเงิน (THB)</th>
                                                        <th>แท็ก</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <% 
                                                    transactionsDetail.transactions.slice(0, 2).forEach( transaction => {
                                                        if (transaction.type == "+") color = "green";
                                                        if (transaction.type == "-") color = "red";
                                                %>
                                                    <tr>
                                                        <td>THB
                                                            <?= $value['type'] ?>
                                                                <%= new Intl.NumberFormat().format(transaction.amount)%>
                                                        </td>
                                                        <td>#
                                                            <%= transaction.tag %>
                                                        </td>
                                                        <td><span class=" dot-<%= color %> badge  rounded-circle">&nbsp;</span></td>
                                                    </tr>
                                                    <% })%>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </main>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="/assets/js/script.js"></script>
    </body>

    </html>