<%- include("../partials/_header.ejs")%>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <div class="left">
                    <% if(role == "student"){%>
                        <%- include('../partials/_navsideStudent.ejs')%>
                    <% } else if (role == "teacher"){ %>
                        <%- include('../partials/_navsideTeacher.ejs')%>
                    <% } %> 
                </div>
            </div>
            <div class="col-md-10">
                <div class="top">
                    <%- include('../partials/_userTop.ejs')%>
                </div>
                <div class="main">
                    <main>
                        <div class="row ">
                            <div class="col-md-3">
                                <h4>ธุรกรรมทั้งหมด</h4>
                            </div>
                            <div class="col-md-9 d-flex justify-content-end">
                                <form action="/searchTransactionDate/transactions/<%= student.studentID%>" method="post">
                                    <div class="row">
                                        <div class="col-auto">
                                            <div class="input-group flex-nowrap">
                                                <span class="input-group-text"">เดือน</span>
                                                <select class="form-select" name="month" id="month">
                                                    <option selected value="0"></option>
                                                    <%
                                                        const months = ["มกราคม", "กุมภาพันธ์", "มีนาคม", "เมษายน", "พฤษภาคม", "มิถุนายน", "กรกฎาคม", "สิงหาคม", "กันยายน", "ตุลาคม", "พฤศจิกายน", "ธันวาคม"];
                                                        var month_no = 0;
                                                        var selected = "";
                                                        months.forEach(month =>{
                                                            month_no ++
                                                            var selected = "";
                                                            if(typeof getParams !== "undefined"){
                                                                if (getParams.month !== 0 && getParams.month == month_no) selected = "selected"
                                                            }
                                                    %>
                                                        <option value="<%=month_no%>" <%= selected %>><%= month%></option>
                                                    <% }) %>
                                                </select>
                                                <span class="input-group-text">ปี</span>
                                                <select class="form-select " name="year" id="year">
                                                    <option value="2022" <%= (typeof getParams !== "undefined")? ((getParams.year == "2022")? "selected": ""):"" %>>2565</option>
                                                    <option value="2023" <%= (typeof getParams !== "undefined")? ((getParams.year == "2023")? "selected": ""):"" %>>2566</option>
                                                    <option value="2024" <%= (typeof getParams !== "undefined")? ((getParams.year == "2024")? "selected": ""):"" %>>2567</option>
                                                </select>
                                            <button type="submit" class="btn btn-green prl-2">🔍Search</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-12 ">
                            <div class="row mx-auto justify-content-around ">
                                <div class="col-md-3">
                                    <div class="base d-flex justify-content-between align-items-center">
                                        รายรับทั้งหมด
                                        <span class="money-md"> <%= new Intl.NumberFormat().format(transactionsDetail.income) %> </span>
                                        THB
                                        <span class="dot-green badge badge rounded-circle">&nbsp;</span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="base d-flex justify-content-between align-items-center">
                                        รายจ่ายทั้งหมด
                                        <span class="money-md"> <%= new Intl.NumberFormat().format(transactionsDetail.expense) %> </span>
                                        THB
                                        <span class=" dot-red badge rounded-circle"> &nbsp;</span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="base d-flex justify-content-between align-items-center">
                                        ยอดคงเหลือ
                                        <span class="money-md"> <%= new Intl.NumberFormat().format(transactionsDetail.balance) %> </span>
                                        THB
                                        <span class="dot-yellow rounded-circle"> &nbsp;</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="base">
                                <table class="table table-hover ">
                                    <thead>
                                        <tr>
                                            <th>จำนวนเงิน (THB)</th>
                                            <th>แท็ก</th>
                                            <th>รายละเอียด</th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <% 
                                        transactionsDetail.transactions.forEach(list => { 
                                            var color = "green";
                                            if(list.type == "-") color = "red";
                                    %>
                                        <tr>
                                            <td><%= list.type %> <%= new Intl.NumberFormat().format(list.amount) %></td>
                                            <td>#<%= list.tag %></td>
                                            <td><%= list.detail %></td>
                                            <td><span class=" dot-<%= color %> badge  rounded-circle">&nbsp;</span></td>
                                            <td>
                                                <% if (list.type == '-') { %>
                                                <a id="<%= list.picture %>" class="btn btn-green transaction-photo" data-bs-toggle="modal" data-bs-target="#Photo">
                                                    ดูรูป
                                                </a>
                                                <% } %>
                                            </td>
                                            <td align="center">
                                                <% if (list.type == '-' && role == "student") { %>
                                                    <a class="none-director" href="/expense/<%= list.listID%>/?mode=edit"><button class="btn btn-yellow ">แก้ไข</button></a>

                                                    <a class="btn btn-red none-director" data-bs-toggle="modal" data-bs-target="#confirmModal" data-href="/delete/expense/?listID=<%= list.listID%>">ลบ</a>
                                                <% } if (list.type == '-' && role != "student") { %>
                                                    <a class="none-director btn btn-yellow me-1" href="/report/transaction/?listID=<%= list.listID%>&studentID=<%= student.studentID%>">รายงาน</a>
                                                    <% if (list.status == 2){ %>
                                                        <a class="none-director btn btn-green me-1" href="/approve/transaction/?listID=<%= list.listID%>&studentID=<%= student.studentID%>">อนุมัติ</a>
                                                    <% } %>
                                                <% }%>
                                            </td>
                                            <td>
                                                <% if (list.type == '-' ) { if (list.status != 0) { 
                                                    list.status == 1 ? color = "danger" : color = "warning"
                                                    list.status == 1 ? statusText = "REPORTED" : statusText = "WATING APPROVE"
                                                %>
                                                    <i class="bi bi-exclamation-triangle-fill <%= color%>"  data-bs-toggle="tooltip" data-bs-title="<%= statusText%>"></i>
                                                <% }}%>
                                            </td>
                                        </tr>
                                        <% }) %>
                                </table>
                            </div>
                        </div>
                    </main>
                </div>
            </div>
        </div>
    </div>
    <!-- The Modal -->
    <div class="modal" id="Photo">
        <div class="modal-dialog">
            <div class="modal-content" style="border-radius: 2rem;padding:2rem">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">หลักฐานการทำธุระกรรม</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body d-flex justify-content-around">

                <img src="asset\image\spy-x-family-anime.png" id="transaction_image" width="auto" height= "auto" style="object-fit:cover;" alt="...">

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-red" data-bs-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
    <%- include("../partials/_confirmModal.ejs")%>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script>
        const myModalEl = document.getElementById('Photo')
        
        myModalEl.addEventListener('show.bs.modal', event => {
            var photoPath = event.relatedTarget.id
            document.getElementById("transaction_image").src= `/assets/img/transactions/${photoPath}`
        })

        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    </script>
    <script src="/assets/js/script.js"></script>
</body>
</html>