<%- include("../partials/_header.ejs")%>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <div class="left">
                    <%- include('../partials/_navsideStudent.ejs')%>
                </div>
            </div>
            <div class="col-md-10">
                <div class="top">
                    <%- include('../partials/_userTop.ejs')%>
                </div>
                <div class="main">
                    <main>
                        <div class="row ">
                            <div class="col-md-3">
                                <h4>กิจกรรมทั้งหมด</h4>
                            </div>
                            <div class="col-md-9 d-flex justify-content-end">
                                <form action="/searchTransactionDate/activities/<%= account.studentID%>" method="post">
                                    <div class="row">
                                        <div class="col-auto">
                                            <div class="input-group flex-nowrap">
                                                <span class="input-group-text"">เดือน</span>
                                                <select class="form-select" name="month" id="month">
                                                    <option selected value="0"></option>
                                                    <%
                                                        const months = ["มกราคม", "กุมภาพันธ์", "มีนาคม", "เมษายน", "พฤษภาคม", "มิถุนายน", "กรกฎาคม", "สิงหาคม", "กันยายน", "ตุลาคม", "พฤศจิกายน", "ธันวาคม"];
                                                        var month_no = 0;
                                                        var selected = "";
                                                        months.forEach(month =>{
                                                            month_no ++
                                                            var selected = "";
                                                            if(typeof getParams !== "undefined"){
                                                                if (getParams.month !== 0 && getParams.month == month_no) selected = "selected"
                                                            }
                                                    %>
                                                        <option value="<%=month_no%>" <%= selected %>><%= month%></option>
                                                    <% }) %>
                                                </select>
                                                <span class="input-group-text">ปี</span>
                                                <select class="form-select " name="year" id="year">
                                                    <option selected value="0"></option>
                                                    <option value="2022" <%= (typeof getParams !== "undefined")? ((getParams.year == "2022")? "selected": ""):"" %>>2565</option>
                                                    <option value="2023" <%= (typeof getParams !== "undefined")? ((getParams.year == "2023")? "selected": ""):"" %>>2566</option>
                                                    <option value="2024" <%= (typeof getParams !== "undefined")? ((getParams.year == "2024")? "selected": ""):"" %>>2567</option>
                                                </select>
                                            <button type="submit" class="btn btn-green prl-2">🔍Search</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-12 ">
                            <div class="row mx-auto justify-content-around ">
                                <div class="col-xl-4">
                                    <div class="base d-flex justify-content-between align-items-center">
                                        กิจกรรมรวม
                                        <span class="money-md"> <%= new Intl.NumberFormat().format(activities.total)%></span>
                                        โครงการ
                                        <span class="dot-green badge badge rounded-circle">&nbsp;</span>
                                    </div>
                                </div>
                                <div class="col-xl-4">
                                    <div class="base d-flex justify-content-between align-items-center">
                                        ชั่วโมงกิจกรรม
                                        <span class="money-md"> <%= activities.TotalTime.hours + "." + activities.TotalTime.minutes%> </span>
                                        ชั่วโมง
                                        <span class=" dot-yellow badge rounded-circle"> &nbsp;</span>
                                    </div>
                                </div>
                                <div class="col-xl-4 ">
                                    <div class="row ">
                                        <div class="col-xl-6">
                                            <div class="base d-flex justify-content-center align-items-center">
                                                <a class="none-director btn btn-lg btn-green" href="/activity/0/?mode=add"> + เพิ่มกิจกรรม</a>
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="base d-flex justify-content-center align-items-center">
                                                <a class="none-director btn btn-lg btn-green" href="/activities/<%= account.studentID%>/?print=true" target="_blank"> <i class="bi bi-printer" style="color: white"></i> print</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="base table-responsive">
                                <more>
                                    <table class="table table-hover ">
                                        <thead>
                                            <tr>
                                                <th>ชื่อโครงการ</th>
                                                <th>วันที่</th>
                                                <th>ภาพกิจกรรม</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <%
                                            activities.activities.forEach(activity => {
                                        %>
                                            <tr>
                                                <td data-label="ชื่อโครงการ"><%= activity.activityName %></td>
                                                <%
                                                    const dateDay = new Date(`'${activity.date}'`)
                                                    dateFormat = `${(dateDay.getDate() < 10) ? "0" + dateDay.getDate() : dateDay.getDate()}/${(dateDay.getMonth()+1 < 10) ? "0" + (dateDay.getMonth()+1) : dateDay.getMonth()+1}/${dateDay.getFullYear()}`;
                                                %>
                                                <td data-label="วันที่"><%= dateFormat %></td>
                                                <td data-label="ภาพกิจกรรม">
                                                    <a id="<%= activity.picture %>" class="btn btn-green transaction-photo" data-bs-toggle="modal" data-bs-target="#Photo">ดูรูป</a>
                                                </td>
                                                <td align="center" style="text-align: center;">
                                                    <a class="none-director" href="/activity/<%= activity.activityID%>/?mode=edit"><button class="btn btn-yellow ">แก้ไข</button></a>
                                                    <a class="none-director" href="/delete/activity/?activityID=<%= activity.activityID%>"><button class="btn btn-red ">ลบ</button></a>
                                                </td>
                                            </tr>
                                            <% }) %>
                                    </table>
                                </more>
                            </div>
                        </div>
                    </main>
                </div>
            </div>
        </div>
    </div>
    <!-- The Modal -->
    <div class="modal" id="Photo">
        <div class="modal-dialog">
            <div class="modal-content" style="border-radius: 2rem;padding:2rem">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">หลักฐานการทำธุระกรรม</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body d-flex justify-content-around">

                    <img src="asset\image\spy-x-family-anime.png" id="transaction_image" width="auto" height="auto" style="object-fit:cover;" alt="...">

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-red" data-bs-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="js/script.js"></script>
    <script>
        const myModalEl = document.getElementById('Photo')

        myModalEl.addEventListener('show.bs.modal', event => {
            var photoPath = event.relatedTarget.id
            document.getElementById("transaction_image").src = `/assets/img/activities/${photoPath}`
        })
    </script>
</body>
</html>