<%- include('../partials/_header.ejs')%>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">
                    <div class="left">
                        <%- include('../partials/_navsideStudent.ejs')%>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="top">
                        <%- include('../partials/_userTop.ejs')%>
                    </div>
                    <div class="main">
                        <main>
                            <div class="row ">
                                <div class="col-md-3"><h4>ทุนการศึกษา</h4></div>
                                <div class="col-md-9 ">
                                    <form action="/seachScholarship/" method="post">
                                        <div class="row mx-auto">
                                            <div class="col-7">
                                                <input type="text" class="form-control my-form" name="query" id="query" placeholder="ค้นหาชื่อทุน" value="<%= (typeof queryParams !== "undefined") ? queryParams : ""%>">
                                            </div>
                                            <div class="col-auto">
                                                <button type="submit" class="btn btn-green prl-2">🔍Search</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="base">
                                    <div class="row">
                                        <%
                                        scholarships.forEach(scholarship => {
                                        %>
                                        <div class="col-md-4">
                                            <div class="scholarship">
                                                <div class="mycard shadow">
                                                    <div class="card text-left px-5 pt-5 pb-1 base-scholarship " style="height:80vh;background: url('/assets/img/index_scholarship.png');background-size: 70%;background-color:#F6F6FF;background-repeat: no-repeat;background-position:center;">
                                                        <div class="card-body">
                                                            <% let find = appliedScholarships.find(scholarshipREF => scholarshipREF.scholarshipName == scholarship.scholarshipName)%>
                                                            <h1 class="card-title"><%= scholarship.scholarshipName %> <%= (typeof find != "undefined") ? "(ได้รับแล้ว)": ""%></h1>
                                                            <br>
                                                            <h4 class="card-text">เงินทุน :<%= new Intl.NumberFormat().format(scholarship.prize) %><h4>
                                                            <br>
                                                            <h5 class="card-text">รายละเอียด</h5>
                                                            <p><%= scholarship.detail %></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <% }) %>
                                    </div>
                                </div>
                            </div>
                        </main>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="/assets/js/script.js"></script>
    </body>
</html>